*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color:white;
}
body,html{
    height: 100%;
    background: linear-gradient(#21216c,#1f1f1f);
    display: flex;
    justify-content: center;
    align-items: center;
}
.whole-wrap{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    align-items: center;
    justify-content: space-between;
}
.city-date{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.city{
    letter-spacing: 2px;
    font-weight: bolder;
    font-size: 25px;
}
.date{
    margin-top: 8px;
}
.search{
    background-color: wheat;
    border-radius: 10px;
    height: 30px;
    width: 300px;
    color: black;
    font-size: 18px
}
.temp{
    font-family: fantasy;
    margin-top: -20px;
    font-size: 60px;
}
.weather{
    font-family: fantasy;
    letter-spacing: 2px;
    font-size: 15px;
}
